/target
Cargo.lock
loopback_dev
/isotmp
build/kernel.elf
build/os.img
build/kernel.sym
virtio-net.pcap

/userland/target

/userland/build

/userland/write/write
/userland/exit/exit
/userland/tmp

**/*.log
**/target/**
**/sysroot/**
