/target
Cargo.lock
loopback_dev
/isotmp
virtio-net.pcap

/userland/target

/userland/write/write
/userland/exit/exit
/userland/tmp

**/*.log
**/target/**
**/sysroot/**

*.o
**/*.o

**/build/**

**/bins_static/**

**/bins/**

*.swp
**/*.swp

**/.cmake

**/cmake-build-debug
